[gerrit]
	basePath = git
	serverId = ####serverId####
	canonicalWebUrl = http://f15f79f7eb8b:8080/
[database]
	type = h2
	database = db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = ldap
	gitBasicAuth = true
[ldap]
	server = ldap://ldap
	username=cn=admin,dc=example,dc=org
	accountBase = dc=example,dc=org
	accountPattern = (&(objectClass=person)(uid=${username}))
	accountFullName = displayName
	accountEmailAddress = mail
	password = gerrit20181019
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[receive]
	enableSignedPush = false
[container]
	user = root
