[gerrit]
	basePath = git
	serverId = ####serverId####
	canonicalWebUrl = http://f15f79f7eb8b:8080/
[database]
	type = postgresql
	hostname = postgres
	database = reviewdb
	username = gerrit
	password = gerrit20181019
[index]
	type = LUCENE
[auth]
	type = ldap
	gitBasicAuth = true
[ldap]
	server = ldap://ldap
	username =cn=admin,dc=example,dc=org
	accountBase = dc=example,dc=org
	accountPattern = (&(objectClass=person)(uid=${username}))
	accountFullName = displayName
	accountEmailAddress = mail
	password = gerrit20181019
[sendemail]
        enable = true
        smtpServer = smtp.exmail.qq.com
        smtpServerPort = 465
        smtpEncryption = SSL
        sslVerify = true
        smtpUser = rd-it-system@example.org
        smtpPass = gerrit20181019
        from = GerritCodeReview<rd-it-system@example.org>
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[receive]
	enableSignedPush = false
[container]
	user = root
